<table>
  <tr>
	<td style="border-bottom:1px;border-left:1px;border-top:1px;border-right:1px;">
		<figure class="image">
		  <img src="{{ include.url1 }}" alt="{{ include.description1 }}" style="max-width:90px; max-height: 90px; position: relative; overflow: hidden; border-radius: 50%">
		  <figcaption style="text-align:center"><a href="{{ include.link1 }}" style="text-decoration: none; font-size: 0.8em;">{{ include.description1 }}</a></figcaption>
		</figure>
	</td>
	<td style="border-bottom:1px;border-left:1px;border-top:1px;border-right:1px;">
		<figure class="image">
		  <img src="{{ include.url2 }}" alt="{{ include.description2 }}" style="max-width:90px; max-height: 90px; position: relative; overflow: hidden; border-radius: 50%">
		  <figcaption style="text-align:center"><a href="{{ include.link2 }}" style="text-decoration: none; font-size: 0.8em;">{{ include.description2 }}</a></figcaption>
		</figure>
	</td>
	<td style="border-bottom:1px;border-left:1px;border-top:1px;border-right:1px;">
		<figure class="image">
		  <img src="{{ include.url3 }}" alt="{{ include.description3 }}" style="max-width:90px; max-height: 90px; position: relative; overflow: hidden; border-radius: 50%">
		  <figcaption style="text-align:center"><a href="{{ include.link3 }}" style="text-decoration: none; font-size: 0.8em;">{{ include.description3 }}</a></figcaption>
		</figure>
	</td>
	<td style="border-bottom:1px;border-left:1px;border-top:1px;border-right:1px;">
		<figure class="image">
		  <img src="{{ include.url4 }}" alt="{{ include.description4 }}" style="max-width:90px; max-height: 90px; position: relative; overflow: hidden; border-radius: 50%">
		  <figcaption style="text-decoration: none; font-size: 0.8em;text-align:center">In partnership with <a href="{{ include.link4 }}">{{ include.description4 }}</a></figcaption>
		</figure>
	</td>
  </tr>
 </table>