<table>
  <tr>
	<td style="border-bottom:1px;border-left:1px;border-top:1px;border-right:1px;">
		<figure class="image">
		  <img src="{{ include.url1 }}" alt="{{ include.description1 }}" style="max-width:150px; max-height: 150px; position: relative; overflow: hidden; border-radius: 50%">
		  <figcaption><a href="{{ include.link1 }}">{{ include.description1 }}</a></figcaption>
		</figure>
	</td>
	<td style="border-bottom:1px;border-left:1px;border-top:1px;border-right:1px;">
		<figure class="image">
		  <img src="{{ include.url2 }}" alt="{{ include.description2 }}" style="max-width:150px; max-height: 150px; position: relative; overflow: hidden; border-radius: 50%">
		  <figcaption><a href="{{ include.link2 }}">{{ include.description2 }}</a></figcaption>
		</figure>
	</td>
	<td style="border-bottom:1px;border-left:1px;border-top:1px;border-right:1px;">
		<figure class="image">
		  <img src="{{ include.url3 }}" alt="{{ include.description3 }}" style="max-width:150px; max-height: 150px; position: relative; overflow: hidden; border-radius: 50%">
		  <figcaption><a href="{{ include.link3 }}">{{ include.description3 }}</a></figcaption>
		</figure>
	</td>
  </tr>
 </table>